/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}

:root{
    --main-color: #fcb700;
    --dark-color: #222222;
    --parg-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
}

body{
    background: #f5f6f9;
    margin-top: 180px;
}

h1,h2,h3,h4,h5,h6{
    color: var(--dark-color);
}

p{
    color: var(--parg-color);
}
.container{
    width: 75%;
    margin: auto;
}
@media (max-width:1500px) {
    .container{
        width: 90%;
    }
}


/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
}
header .top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header .top-nav .logo img{
    width: 150px;
}
header .top-nav .search{
    width: 500px;
    border: 2px solid var(--main-color);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
header .top-nav .search input{
    padding: 18px 175px 18px 20px;
    outline: none;
    border: none;
    width: 100%;
}
header .top-nav .search button{
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    width: 170px;
    background-color: var(--main-color);
    height: 100%;
    font-size: 18px;
    color: var(--dark-color);
    cursor: pointer;
}

header .top-nav .cart_header{
    display: flex;
    gap: 10px;
    align-items: center;
}
header .top-nav .cart_header i{
    color: var(--dark-color);
    font-size: 20px;
    border: 1px solid var(--border-color);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}
header .top-nav .cart_header i:hover{
    background-color: var(--main-color);
    color: #fff;
}
header .top-nav .cart_header .icon_cart{
    position: relative;
}
header .top-nav .cart_header .count_item{
    position: absolute;
    background: var(--main-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    top: -5px;
    right: 0px;
    color: var(--dark-color);
    border: 1px solid var(--border-color);
}
header .top-nav .cart_header .tottal_price p{
    margin-bottom: 8px;
}

header nav{
    border-top: 1px solid var(--border-color);
}
header .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .links ul{
    display: flex;
    gap: 70px;
}
header .links ul li a{
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

header .links ul li{
    position: relative;
    padding: 20px 0;
}
header .links ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    transition: 0.3s ease-in-out;
}
header .links ul li.active::after,
header .links ul li:hover::after{
    width: 100%;
}

header .links .loging_signup a{
    color: var(--dark-color);
    padding: 10px 20px;
    background-color: var(--main-color);
    margin-left: 10px;
    border-radius: 5px;
}

/* end Header */


/* Cart */

.cart{
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    background: #fff;
    z-index: 1100;
    padding: 30px;
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    transition: 0.3s ease;
}
.cart.active{
    right: 0;
}
.cart .top_cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart .top_cart .close_cart i{
    font-size: 35px;
    cursor: pointer;
}
.cart .top_cart h3{
    font-size: 18px;
}
.cart .top_cart h3 span{
    font-size: 14px;
    color: var(--parg-color);
    font-weight: normal;
}

.cart .items_in_cart{
    padding: 20px 0;
    border-block: 1px solid var(--border-color);
    margin-block: 20px;
    height: 100%;
}
.cart .item_cart{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.cart .item_cart:last-child{
    margin-bottom: 0;
}
.cart .item_cart img{
    width: 100px;
}
.cart .item_cart h4{
    margin-bottom: 10px;
    font-weight: 500;
}
.cart .item_cart .delete_item{
    outline: none;
    border: none;
}
.cart .item_cart .delete_item i{
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}
.cart .item_cart .delete_item i:hover{
    color: var(--dark-red);
    transform: scale(1.2);
}






.cart .bottom_Cart .total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.cart .bottom_Cart .total .price_cart_total{
    color: var(--main-color);
}
.cart .button_Cart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart .button_Cart .btn_cart{
    border: 2px solid var(--main-color);
    border-radius: 5px;
    color: var(--dark-color);
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--main-color);
    transition: 0.3s ease;
}
.cart .button_Cart .btn_cart:hover{
    background: transparent;
}
.cart .button_Cart .trans_bg{
    background: transparent;
}
.cart .button_Cart .trans_bg:hover{
    background: var(--main-color);
}


/* end cart */


/* start slider */
.slider .container{
    display: flex;
    justify-content: space-between;
}
.slider .container .side_bar{
    width: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
}
.slider .container .side_bar h2{
    padding: 20px 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 18px;
}
.slider .container .side_bar a{
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color);
    border-top: 1px solid var(--border-color);
    transition: 0.3s ease-in-out;
}
.slider .container .side_bar a:hover{
    color: var(--main-color);
}


.slider .container .slide-swp{
    width: calc(100% - 350px);
    overflow: hidden;
    position: relative;
}
.slider .container .slide-swp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}
.slider .container .slide-swp .swiper-pagination span{
    background: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background: var(--main-color) !important;
    width: 35px !important;
    height: 8px !important;
    border-radius: 30px !important;
}


/* end slider */

/* start features */

.features{
    margin: 50px 0;
}
.features .container{
    display: flex;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features .container .feature_item{
    width: 18%;
    min-width: 220px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.features .container .feature_item img{
    width: 50px;
}

.features .container .feature_item h4{
    margin-bottom: 8px;
    font-size: 15px;
}
.features .container .feature_item p{
    font-size: 12px;
}

/* end features */ 

/* start banner */

.banner{
    margin: 50px 0;
}
.banner .container{
    display: flex;
    justify-content: space-between;
}
.banner .container .banner_img{
    width: 32%;
    position: relative;

}
.banner .container .banner_img img{
    width: 100%;
}

.banner .glass_hover{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.banner .glass_hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg , transparent 50% , 
    rgba(255,255,255,0.1) 60% , rgba(255,255,255,0.5) 70% , transparent 71%);
    background-size: 200% 100%;
    background-position: 200% 0;
    z-index: 90;
    transition: 0.8s;
}
.banner .banner_img:hover .glass_hover::after{
    background-position: -20% 0;
}

.banner .banner_img a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.banner_big.banner .container .banner_img{
    width: 49%;
    position: relative;

}


/* end banner */


/* start slide */
.slide{
    margin-bottom: 100px;
}
.top_slide{
    position: relative;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}
.top_slide::after{
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 100px;
    height: 2px;
    background: var(--main-color);
}
.top_slide h2{
    text-transform: capitalize;
}
.top_slide h2 span{
    font-weight: normal;
}

/*----------*/

/* prdouct  card style */

.product{
    position: relative;
    background: #fff;
    padding: 20px 30px;
    text-align: center;
    overflow: hidden;
    box-shadow: 5px 5px 10px #94949428;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 25%;
}
.product .sale_present{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    background-color: var(--dark-red);
    color: #fff;
    padding: 4px 12px;
    font-size: 14px;
}

.product .img_product{
    position: relative;
}
.product .img_product img{
    width: 100%;
    transition: 0.3s ease-in-out;
}
.product .img_product .img_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    scale: 0.1;
}
.product:hover .img_product img{
    opacity: 0;
}
.product:hover .img_product .img_hover{
    opacity: 1;
    scale: 1;
}
.product .name_product{
    font-size: 16px;
}
.product .name_product a{
    color: var(--name-item);
}
.product .name_product a:hover{
    text-decoration: underline;
}
.stars{
    margin: 15px 0;
}
.stars i{
    color: var(--main-color);
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.price p{
    color: var(--main-color);
    font-weight: bold;
}
.price .old_price{
    color: var(--parg-color);
    text-decoration: line-through;
    font-size: 13px;
    font-weight: normal;
}
.product .icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: -80px;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out;
}
.product .icons i{
    color: var(--dark-color);
    background: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}
.product .icons i.active{
    background: var(--main-color);
    cursor: auto;
    pointer-events: none;
    position: relative;
    overflow: hidden;
}
.product .icons i.active::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000004f;
    z-index: 5;
}
.product .icons i:hover{
    background: var(--main-color);
}
.product:hover .icons{
    right: 20px;
}


/* sliders */

.slide .container{
    position: relative;
}
.slide .container .mySwiper{
    overflow: hidden;
    padding: 10px;
}
.slide .container .mySwiper .btn_Swip{
    position: absolute;
    top: 35px;
    right: 0;
    background: var(--main-color);
    color: #fff;
    font-weight: bold;
    padding: 0 18px;
    border-radius: 5px;
}
.slide .container .mySwiper .btn_Swip::after{
    font-size: 25px;
}
.slide .container .mySwiper .btn_Swip.swiper-button-prev{
    left: calc(100% - 90px);
} 


/* slide_product */

.slide_product .product_swip{
    width: calc(100% - 300px);
}

.slide_product .slide_with_img{
    display: flex;
    justify-content: space-between;
}


.slide_product .categ_img{
    padding: 10px 0;
    width: 280px;
}
.slide_product .categ_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}



/* newsletter */

.newsletter{
    background: #fff;
}

.newsletter .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.newsletter .text{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.newsletter .text img{
    width: 100px;
}

.newsletter .text h4{
    font-size: 28px;
    font-weight: 500;
}

.newsletter .text p{
    margin: 12px 0;
}
.newsletter .text h6{
    font-size: 20px;
    font-weight: normal;
}
.newsletter .newsletter_form{
    width: 40%;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.newsletter .newsletter_form input{
    padding: 20px 175px 20px 20px;
    outline: none;
    border: none;
    width: 100%;
}
.newsletter .newsletter_form button{
    background: var(--main-color);
    outline: none;
    border: none;
    width: 170px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    font-size: 18px;
    color: #222;
}

/* footer */

.back_to_top{
    background: #4d5669;
}

.back_to_top p{
    padding: 22px 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

footer{
    background: #394150;
}
footer .container{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
footer .container .big_row{
    width: 30%;
}

footer .container .big_row .hotline{
    display: flex;
    align-items: center;
    margin: 15px 0 ;
    gap: 10px;
}
footer .container .big_row .hotline i{
    font-size: 60px;
    color: var(--main-color);
}
footer .container .big_row .hotline h5{
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}
footer .container .big_row .hotline h6{
    color: var(--main-color);
    font-size: 18px;
}
footer .container .big_row p{
    width: 90%;
    color: #b1b1b1;
    font-size: 14px;
    line-height: 1.5;
}

footer .container .row{
    width: 22%;

}
footer .container .row h4{
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}
footer .container .row .links{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
footer .container .row .links a{
    color: #b1b1b1;
    font-size: 14px;
    position: relative;
    left: 0;
    transition: 0.3S ease-in-out;
}
footer .container .row .links a:hover{
    left: 8px;
    color: var(--main-color);
}
footer .bottom_footer{
    background: #202935;
}
footer .bottom_footer .container{
    padding: 20px 0;
    align-items: center;
}
footer .bottom_footer .container span{
    color: var(--main-color);
}
footer .bottom_footer .payment_img{
    display: flex;
    gap: 10px;
}
footer .bottom_footer .payment_img img{
    filter: grayscale(100%);
    cursor: pointer;
    transition: 0.3s;
}
footer .bottom_footer .payment_img img:hover{
    filter: grayscale(0%);
}


/* Resopnsive */
header .links ul .bg-overlay,
header .links .btn_open_menu,
header .links ul .logo_menu,
header .links ul .btn_close_menu{
    display: none;
}

@media (max-width: 1000px) {
    header .top-nav .search{
        width: 420px;
    }
    .slider .container .side_bar{
        display: none;
    }
    .slider .container .slide-swp{
        width: 100%;
    }
    .features .container .feature_item{
        margin-bottom: 10px;
    }
    .newsletter .container{
        flex-direction: column;
        gap: 30px;
    }
    .newsletter .container .text{
        width: 100%;
    }
    .newsletter .newsletter_form{
        width: 70%;
    }
    footer .container{
        flex-wrap: wrap;
    }
    footer .container .row{
        width: 40%;
        margin-bottom: 20px;
    }
    footer .container .big_row{
        width: 50%;
        margin-bottom: 20px;
    }

}

@media (max-width: 900px){
    body{
        margin-top: 240px;
    }
    header .top-nav{
        flex-wrap: wrap;
    }
    header .top-nav .search{
        order: 3;
        width: 80%;
        margin: 10px auto 0;
    }
    header .links{
        padding: 20px 0;
    }
    header .links ul{
        padding-top: 50px;
        position: fixed;
        top: 0;
        left: -420px;
        bottom: 0;
        background: #ffff;
        flex-direction: column;
        gap: 20px;
        width: 400px;
        border-right: 1px solid var(--border-color);
        text-align: center;
        transition: 0.3s ease-in-out;
    }
    header .links ul.active{
        left: 0;
    }
    header .links ul .logo_menu{
        width: 140px;
        margin: 0px auto;
        display: block;
    }
    header .links ul .btn_close_menu{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
        color: var(--main-color);
        display: block;
    }
    header .links .btn_open_menu{
        display: block;
        font-size: 25px;
    }
    header .links ul .bg-overlay{
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        background: #0000003d;
        width: calc(100vw - 400px);
        transition: 0.3s ease-in-out;
    }
    header .links ul.active .bg-overlay{
        right: 0;
    }
    .banner{
        margin: 0;
    }
    .slide{
        margin-bottom: 50px;
    }
    .slide_product .categ_img{
        display: none;
    }
    .slide_product .product_swip{
        width: 100%;
    }
    .newsletter .text h4{
        font-size: 25px;
    }
    .newsletter .text p{
        font-size: 14px;
    }
    .newsletter .text h6{
        font-size: 18px;
    }
}

@media (max-width: 500px){
    header .top-nav .search{
        width: 100%;
    }
    header .top-nav .search input{
        padding: 13px 130px 13px 20px;
    }
    header .top-nav .search button{
        width: 120px;
        font-size: 14px;
    }
    header .links ul{
        width: 100%;
        left: -100%;
    }
    .cart{
        width: 100%;
        right: -100%;
    }
    .product .name_product a{
        font-size: 13px;
    }
    .product{
        padding: 15px 10px;
    }
    .stars i{
        font-size: 14px;
    }
    .slide{
        margin-bottom: 30px;
    }
    .top_slide h2{
        font-size: 16px;
    }
    .newsletter .newsletter_form{
        width: 100%;
    }
    .newsletter .text h4{
        font-size: 23px;
    }
    .newsletter .text p{
        font-size: 13px;
    }
    .newsletter .text h6{
        font-size: 16px;
    }
    .newsletter .newsletter_form button{
        width: 120px;
        font-size: 14px;
    }
    .newsletter .newsletter_form input{
        padding: 16px 140px 16px 20px;
    }
    footer .container .row{
        width: 100%;
    }
    footer .container .big_row{
        width: 100%;
    }
}





/* item_detail page */

.item_detail{
    background: #fff;
    padding: 50px 0;
}

.item_detail .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item_detail .img_item{
    width: 40%;
}
.item_detail .img_item .big_img img{
    width: 100%;
}
.item_detail .img_item .sm_imgs{
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}  
.item_detail .img_item .sm_imgs img{
    width: 24%;
}



.item_detail .details_item{
    width: 58%;
}
.item_detail .details_item h1{
    margin-bottom: 30px;
}
.item_detail .details_item h5{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 16px;
}
.item_detail .details_item h5 span{
    color: var(--main-color);
}
.item_detail .details_item .price{
    justify-content: left;
    margin: 20px 0;
    gap: 20px;
}
.item_detail .details_item .price p{
    font-size: 22px;
}
.item_detail .details_item .text_p{
    line-height: 1.5;
}
.item_detail .details_item h4{
    font-size: 20px;
    margin-top: 20px;
}
.item_detail .details_item button{
    border: none;
    outline: none;
    background: var(--main-color);
    color: var(--dark-color);
    font-weight: bold;
    padding: 14px 35px;
    border-radius: 5px;
    margin: 30px 0;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
}
.item_detail .details_item button:hover{
    scale: 1.1;
}
.item_detail .details_item .icons{
    display: flex;
    gap: 10px;
}

.item_detail .details_item .icons i{
    width: 50px;
    height: 50px;
    background: #efeeee;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.item_detail .details_item .icons i:hover{
    background: var(--main-color);
}



/* Resopnsive Item PAge */

@media (max-width:1000px) {
    .item_detail .container{
        flex-direction: column;
    }
    .item_detail .img_item{
        width: 50%;
        margin-bottom: 40px;
    }
    .item_detail .details_item{
        width: 100%;
    }
}
@media (max-width:700px) {
    .item_detail .img_item{
        width: 80%;
    }
}
@media (max-width:500px){
    .item_detail .details_item h1{
        font-size: 20px;
    }
    .item_detail .details_item .text_p{
        font-size: 14px;
    }
    .item_detail .details_item h4{
        font-size: 18px;
    }
    .item_detail .details_item button{
        font-size: 16px;
    }
}




/* all products page */

.top_page{
    text-align: center;
    padding: 50px 0;
}
.top_page h1{
    font-size: 40px;
    color: var(--main-color);
    margin-bottom: 25px;
}
.top_page p{
    font-size: 18px;
    width: 60%;
    margin: auto;
    color: var(--parg-color);
}



.all_products .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.all_products .filter{
    background: #fff;
    width: 280px;
    text-transform: capitalize;
    padding: 20px 25px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}
.all_products .filter input:checked{
    accent-color: var(--main-color);
}

.all_products .filter h4{
    margin-bottom: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.all_products .filter span{
    font-size: 14px;
    cursor: pointer;
}

.all_products .filter .filter_item .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.all_products .filter .filter_item .item .color{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}






.all_products .products_dev{
    width: calc(100% - 300px);
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
}
.all_products .products_dev .product{
    width: 22%;
    margin-bottom: 30px;
}


.pagination{
    padding: 10px 20px;
    background: #fff;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto;
    margin-bottom: 40px;
}

.pagination .btn_page{
    font-size: 22px;
    padding: 0 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.pagination .btn_page:hover{
    color: var(--main-color);
}
.pagination .num_page{
    border: 1px solid transparent;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
}
.pagination .num_page.active,
.pagination .num_page:hover{
    border: 1px solid var(--main-color);
    cursor: pointer;
}
.all_products .btn_filter{
    display: none;
}


@media (max-width:1500px) {
    .all_products .products_dev .product{
        width: 31%;
    }

}
@media (max-width:1000px){
    .all_products .container{
        position: relative;
        padding-top: 60px;
    }
    .all_products .filter{
        position: absolute;
        left: 0;
        top: 60px;
        width: 40%;
        opacity: 0;
        z-index: -100;
        transition: 0.3s opacity ease-in-out;
    }
    .all_products .filter.active{
        opacity: 1;
        z-index: 100;
    }


    .all_products .products_dev{
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }
    .all_products .btn_filter{
        display: block;
        position: absolute;
        top: 0px;
        padding: 12px 30px;
        background: var(--main-color);
        border-radius: 5px;
        font-size: 18px;
        text-transform: capitalize;
    }
}
@media (max-width: 650px) {
    .all_products .products_dev .product{
        width: 48%;
    }
    .top_page h1{
        font-size: 22px;
    }
    .top_page p{
        font-size: 14px;
        width: 100%;
    }
    .top_page{
        padding-top: 10px;
    }
}
@media (max-width: 450px){
    .all_products .filter{
        width: 100%;
    }
}












/* Checkout Page */

.checkout{
    margin: 50px 0;
}
.checkout .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.checkout form{
    width: 45%;
}
.checkout form h2{
    padding: 10px 20px;
    background: var(--main-color);
    text-transform: capitalize;
}
.checkout form .address,
.checkout form .coupon{
    background: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.checkout form .inputs{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}
.checkout form .inputs label{
    color: var(--dark-color);
    font-size: 14px;
    text-transform: capitalize;
}
.checkout form .inputs input{
    margin: 5px 0 20px;
    padding: 12px 10px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.checkout form .inputs input:focus{
    border-color: var(--main-color);
}



.checkout .ordersummary{
    width: 45%;
    background: #fff;
    padding: 0 20px;
}
.checkout .ordersummary h1{
    border-bottom: 1px solid var(--border-color);
    padding: 20px 0;
    margin-bottom: 20px;
}
.checkout .ordersummary .items .item_cart{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.checkout .ordersummary .items .item_cart img{
    width: 150px;
}
.checkout .ordersummary .items .item_cart h4{
    color: var(--parg-color);
    margin-bottom: 20px
}
.checkout .ordersummary .items .item_cart p{
    color: var(--dark-color);
    font-size: 18px;
}

.checkout .ordersummary .total{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout .ordersummary .total p{
    font-size: 30px; 
    font-weight: bold;
    color: var(--dark-color);
    text-transform: capitalize;
}
.checkout .ordersummary .total span{
    font-weight: bold;
    font-size: 25px;
    color: var(--dark-color);
}
.checkout .ordersummary .button_div{
    border-top: 1px solid var(--border-color);
    padding: 30px 0;
}
.checkout .ordersummary .button_div button{
    width: 100%;
    background: var(--main-color);
    color: var(--dark-color);
    border: 2px solid var(--main-color);
    padding: 15px 0;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.checkout .ordersummary .button_div button:hover{
    background: transparent;
    color: var(--main-color);
}



/* responsive checkout page */

@media (max-width:1000px) {
    .checkout .container{
        flex-direction: column-reverse;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
    .checkout form {
        width: 70%;
    }
    .checkout .ordersummary{
        width: 70%;
    }
}

@media (max-width:650px) {
    .checkout form {
        width: 100%;
    }
    .checkout .ordersummary{
        width: 100%;
    }
}

@media (max-width:500px) {
    .checkout .ordersummary h1{
        font-size: 20px;
    }
    .checkout .ordersummary .items .item_cart h4{
        font-size: 14px;
    }
    .checkout .ordersummary .items .item_cart img{
        width: 100px;
    }
    .checkout .ordersummary .total p{
        font-size: 20px;
    }
    .checkout .ordersummary .total span{
        font-size: 22px;
    }
    .checkout .ordersummary .button_div button{
        font-size: 18px;
    }
    .checkout form h2{
        font-size: 20px;
    }
}


